div.information {
	text-align: center;
}

h2.header {
	text-align:center;
	text-weight: bold;
	background-color: #4286f4;
	border-style: outset;
}

span.primary {
	font-style: italic;
	font-weight: bold;
	background-color: #4286f4;
}

p {
	text-align: center;
}
